.container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg); /* Tambahkan rotasi */
    background: url('assets/img/valid-stemp.png') no-repeat center center;
    background-size: 678px 255px; /* Ukuran watermark */
    opacity: 1; /* Tidak Ada Transparansi watermark */
    width: 678px; /* Sama seperti background-size */
    height: 255px; /* Sama seperti background-size */
    z-index: 9999; /* Letakkan di atas konten */
}